body{
    align-items: center;
    color: yellow;
    width: 50%;

}
.h1{
    background-color: orangered;
    border-bottom: 0;
}
tbody{
    background-color:rgba(4, 4, 15, 0.842);
    width: 50%;
    margin: 0%;

}
tfoot{
    background-color: orangered;
    width: 50%;
}
td{
    padding: 10px;
    width: 100%;
}
