*{
    align-items: auto;
}
body{
    height: 100%;
    border: 3px solid gray;
    text-align: center;
    width: 45%;
}
h1{
    text-align: center;
    color: red;
    margin: 5px ;
    padding: 10px;
    border: 1px solid black;
    background-color:yellow;
}
td{
    margin: 5px ;
    padding: 10px;
    border: 1px solid black;
    background-color:aqua;


}
.btn{
    margin: 5px ;
    padding: 10px;
    border: 1px solid black;
    width: 30%;
}